spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/testdb
    username: root
    password: aa
    platform: org.hibernate.dialect.MySQL5InnoDBDialect

  jpa:
    hibernate:
      ddl-auto: update
    generate-ddl: true
    show-sql: true
